<div class="row">
  <div class="col-12 col-xl-5" data-left>

    <div class="d-flex">
      <div class="upload-container mx-auto">
        <mat-card>
          <!-- <mat-card-title class="text-center">Upload files / photos here</mat-card-title>
          <mat-divider [inset]="true" class="mb-3"></mat-divider> -->
          <mat-card-content class="d-flex">
            <div class="upload mx-auto">
              <input type="file" #file multiple size="50" (change)="onChange($event)">
              <button mat-icon-button color="accent" (click)="file.value = ''" *ngIf="totalSize !== '' && file.value !== ''" [disabled]="isDisabled"
                [matTooltip]="'Remove selected files'"
                [matTooltipPosition]="'below'"
                ><mat-icon>clear</mat-icon></button>
              <button mat-icon-button color="accent" (click)="onUpload(0)" [disabled]="isDisabled"
                [matTooltip]="'Upload selected files'"
                [matTooltipPosition]="'below'"
                ><mat-icon>file_upload</mat-icon></button>
            </div>
          </mat-card-content>
          <mat-card-content>

            <div *ngFor="let item of list">
              <img class="mx-auto d-block" src="{{ item.url }}" alt="{{ item.name }}">
              <p class="m-0 text-center">{{ item.name }} ({{ item.type }}) - {{ item.newSize }}</p>
              <br>
            </div>

            <p class="mt-2 text-center" *ngIf="totalSize !== '' && file.value !== ''"><strong>Total size: <br>{{ totalSize }}</strong></p>

          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br>

  </div>
  <div class="col-12 col-xl-7 d-flex" data-right>

    <div class="mx-auto" *ngIf="!isShow">
      <mat-progress-spinner mode="indeterminate" [color]="'warn'" class="mt-5"></mat-progress-spinner>
    </div>

    <div class="mx-auto">
      <div *ngFor="let item of photos | async">
        <mat-card class="pb-0">
          <mat-card-header>
            <mat-card-title>{{ item.fileName }} - {{ item.file.newSize }}</mat-card-title>
            <button mat-icon-button (click)="onRemovePhoto(item)" class="d-block ml-auto"><mat-icon>delete</mat-icon></button>
          </mat-card-header>
          <img mat-card-image src="{{ item.downloadURL }}" alt="{{ item.fileName }}" width="100" class="mb-0">
        </mat-card>
        <br>
      </div>
    </div>

  </div>
</div>
