<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" (click)="onHeader()">Workshop-App</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
        <li class="nav-item active" (click)="onDashboard()">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item active" (click)="onProfile()">
          <a class="nav-link">Profile</a>
        </li>
        <li class="nav-item active" (click)="onAlbum()">
          <a class="nav-link">Album</a>
        </li>
        <li class="nav-item" (click)="onSignout()">
          <a class="nav-link">Logout</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isAuthenticated">
        <li class="nav-item" (click)="onRegister()">
          <a class="nav-link">Register</a>
        </li>
        <li class="nav-item" (click)="onLogin()">
          <a class="nav-link">Login</a>
        </li>
      </ul>

    </div>

  </div>
</nav>
