
<h5>** Please allow pop-ups to enable download of files.</h5>

<label>
  <input type="file" class="form-control" (change)="onDetectFiles($event)" multiple>
</label>
<button type="button" class="btn btn-info" (click)="onUpload()">Upload</button>


<div class="row">
  <div *ngFor="let upload of newUpload | async">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <img src="{{ upload.url }}" alt="{{ upload.name }}" width="100"><br>
          <strong>{{ upload.name }}</strong>
          <br><br>

          <button type="button" class="btn btn-success" (click)="onDownload(upload.name)">Download</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(upload, upload.key)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
