<div class="container">
  <div class="row">
    <div class="col">

      <div class="card-wrapper">
        <mat-card>
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="card-content">
            <mat-card-title class="m-0">Sign in</mat-card-title>
            <mat-card-content>

              <p>with your account</p>
              <br>

              <mat-form-field color="accent">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error data-error *ngIf="loginForm.get('email').invalid">
                  <mat-error *ngIf="loginForm.get('email').errors['required']">This is required.</mat-error>
                  <div *ngIf="!loginForm.get('email').errors['required']">
                    <mat-error *ngIf="loginForm.get('email').errors['email']">Not a valid email address.</mat-error>
                  </div>
                </mat-error>
              </mat-form-field>
              <mat-form-field color="accent">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password').invalid">
                  <mat-error *ngIf="loginForm.get('password').errors['required']">This is required.</mat-error>
                  <div *ngIf="!loginForm.get('password').errors['required']">
                    <mat-error *ngIf="!loginForm.get('password').errors['minLength']">Password too short.</mat-error>
                  </div>
                </mat-error>
              </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
              <small class="m-0" (click)="onCreateAccount()"
                [matTooltip]="'Create an account with email and password'"
                [matTooltipPosition]="'above'"
              >Create account</small>
              <button mat-raised-button type="submit">LOGIN</button>
            </mat-card-actions>
            <mat-card-actions>
              <div class="social-buttons">
                <button mat-icon-button (click)="onSocialSignIn('facebook')" type="button" (click)="onSignIn()"
                  [matTooltip]="'Sign in with your Faceabook account'"
                  [matTooltipPosition]="'left'"
                  class="facebook"><mat-icon fontSet="fontawesome" class="fab fa-facebook-f"></mat-icon></button>
                <button mat-icon-button (click)="onSocialSignIn('twitter')" type="button" (click)="onSignIn()"
                  [matTooltip]="'Sign in with your Twitter account'"
                  [matTooltipPosition]="'below'"
                  class="twitter"><mat-icon fontSet="fontawesome" class="fab fa-twitter"></mat-icon></button>
                <button mat-icon-button (click)="onSocialSignIn('google')" type="button" (click)="onSignIn()"
                  [matTooltip]="'Sign in with your Google account'"
                  [matTooltipPosition]="'below'"
                  class="google"><mat-icon fontSet="fontawesome" class="fab fa-google"></mat-icon></button>
                <button mat-icon-button (click)="onSocialSignIn('github')" type="button" (click)="onSignIn()"
                  [matTooltip]="'Sign in with your Github account'"
                  [matTooltipPosition]="'below'"
                  class="github"><mat-icon fontSet="fontawesome" class="fab fa-github"></mat-icon></button>
                <button mat-icon-button (click)="onSocialSignIn('anonymous')" type="button" (click)="onSignIn()"
                  [matTooltip]="'Sign in anonymously'"
                  [matTooltipPosition]="'right'"
                  class="anonymous"><mat-icon>perm_identity</mat-icon></button>
                <!-- <button mat-icon-button (click)="logout()" type="button"><mat-icon>perm_identity</mat-icon></button> -->
              </div>
            </mat-card-actions>
          </form>
          <mat-card-footer *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>

    </div>
  </div>
</div>
