<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" formControlName="fullName">
        </div>
        <div class="form-group">
          <label>Gender</label>
          <input type="text" class="form-control" formControlName="gender">
        </div>
        <div class="form-group">
          <label>Tags</label>

          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" formControlName="tags">
            </div>
            <div class="col d-flex">
              <button type="button" class="btn btn-info ml-auto" (click)="onAddTag()">Add tag</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4>
                    <span class="badge badge-primary" *ngFor="let tag of tags; let i = index">
                      <div (click)="onRemoveTag(i)">{{ tag }}</div>
                    </span>
                  </h4>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button type="submit" class="btn">Register with email and password</button>
        <br>
        <button type="button" class="btn" (click)="onSocialSignup('facebook')">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></button>
        <button type="button" class="btn" (click)="onSocialSignup('twitter')">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></button>
        <button type="button" class="btn" (click)="onSocialSignup('github')">Github <i class="fa fa-github" aria-hidden="true"></i></button>
      </form>

    </div>
  </div>
</div>
