<br>

<div class="d-flex">

  <mat-card class="ml-auto d-none d-md-block">
    <div class="row">
      <div class="col-12 d-flex">
        <img mat-card-md-image src="http://api.adorable.io/avatars/putang-ina-ka" alt="putang-ina-ka" class="mx-auto mb-3 mt-2">
      </div>
      <div class="col-12 d-flex">
        <mat-card-title-group class="m-auto text-center">
          <mat-card-title>Geralt of Rivia 1</mat-card-title>
          <mat-card-subtitle>geralt_rivia@yahoo.com</mat-card-subtitle>
        </mat-card-title-group>
      </div>
    </div>
  </mat-card>

  <mat-card class="mx-auto d-sm-block d-md-none">
    <div class="row">
      <div class="col-12 d-flex">
        <img mat-card-md-image src="http://api.adorable.io/avatars/putang-ina-ka" alt="putang-ina-ka" class="mx-auto mb-3 mt-2">
      </div>
      <div class="col-12 d-flex">
        <mat-card-title-group class="m-auto text-center">
          <mat-card-title>Geralt of Rivia 2</mat-card-title>
          <mat-card-subtitle>geralt_rivia@yahoo.com</mat-card-subtitle>
        </mat-card-title-group>
      </div>
    </div>
  </mat-card>

</div>
