<br>

<div class="d-flex">

  <mat-card class="ml-auto d-none d-md-block">
    <div class="row">
      <div class="col-12 d-flex">
          <img mat-card-md-image src="{{ photo }}" alt="" class="mx-auto mb-3 mt-2">
      </div>
      <div class="col-12 d-flex">
        <mat-card-title-group class="m-auto text-center">
          <mat-card-title>{{ user?.displayName }}{{ user?.firstname }} {{ user?.lastname }}</mat-card-title>
          <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
        </mat-card-title-group>
      </div>
    </div>
  </mat-card>

  <mat-card class="mx-auto d-sm-block d-md-none">
    <div class="row">
      <div class="col-12 d-flex">
        <img mat-card-md-image src="{{ photo }}" alt="" class="mx-auto mb-3 mt-2">
      </div>
      <div class="col-12 d-flex">
        <mat-card-title-group class="m-auto text-center">
          <mat-card-title>{{ user?.displayName }}{{ user?.firstname }} {{ user?.lastname }}</mat-card-title>
          <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
        </mat-card-title-group>
      </div>
    </div>
  </mat-card>

</div>
