.d-flex {
  flex-flow: column wrap;
  .mat-card {
    width: 540px;
    .mat-icon-button {
      transform: translateY(-12px);
    }
  }
}


@media (max-width: 575.98px) {
  .d-flex {
    .mat-card {
      width: 100%;
    }
  }
}
